[submodule "themes/themes/blist"]
	path = themes/themes/blist
	url = git@github.com:Panderium/blist-hugo-theme.git
[submodule "themes/blist"]
	path = themes/blist
	url = git@github.com:Panderium/blist-hugo-theme.git
